@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #585a61;
  overflow-x: hidden;
}

a {
  color: #1f7e97;
  text-decoration: none;
}

a:hover {
  color: #1f7e97;
  text-decoration: none;
}

h1 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-family: "Raleway", sans-serif;
}

h3 {
  font-family: "Raleway", sans-serif;
}

h4 {
  font-family: "Raleway", sans-serif;
}

h5 {
  font-family: "Raleway", sans-serif;
}

h6 {
  font-family: "Raleway", sans-serif;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #1f7e97;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #FFF;
  line-height: 0;
}

.back-to-top:hover {
  background: #748ec6;
  color: #FFF;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

#header {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.95);
}

#header .logo {
  width: 100%;
}

#header .logo h1 {
  font-size: 30px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}

#header .logo h1 a {
  color: #1f7e97;
  text-decoration: none;
}

#header .logo h1 a:hover {
  color: #1f7e97;
  text-decoration: none;
}

#header .logo img {
  margin: 0;
  max-height: 40px;
}

#header.header-transparent {
  background: transparent;
}

#header.header-transparent .logo .light {
  display: block;
}

#header.header-transparent .logo .dark {
  display: none;
}

#header.header-scrolled {
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.header-scrolled .logo .light {
  display: none;
}

#header.header-scrolled .logo .dark {
  display: block;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar li {
  position: relative;
}

.navbar li:hover > a {
  color: #f9f9f9;
}

.navbar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #FFF;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar a:focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #47536e;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover {
  color: #1f7e97;
}

.navbar .active {
  color: #f7c100;
}

.navbar .active:focus {
  color: #1f7e97;
}

.navbar .getstarted {
  background: #1f7e97;
  color: #FFF;
  padding: 12px 25px;
  margin-left: 30px;
  color: #FFF;
  line-height: 1;
  border-radius: 50px;
}

.navbar .getstarted:focus {
  background: #1f7e97;
  color: #FFF;
  padding: 12px 25px;
  margin-left: 30px;
  color: #FFF;
  line-height: 1;
  border-radius: 50px;
}

.navbar .getstarted:focus:hover {
  background: #748ec6;
  color: #FFF;
}

.navbar .getstarted:hover {
  background: #748ec6;
  color: #FFF;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
          box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul li a {
  color: #585a61;
}

.navbar .dropdown ul li:hover > a {
  color: #1f7e97;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover {
  color: #1f7e97;
}

.navbar .dropdown ul .active:hover {
  color: #1f7e97;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

.mobile-nav-toggle {
  color: #FFF;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #FFF;
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(51, 60, 79, 0.9);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block !important;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 6px;
  background-color: #FFF;
  overflow-y: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #47536e;
}

.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #47536e;
}

.navbar-mobile a:hover {
  color: #1f7e97;
}

.navbar-mobile .active {
  color: #1f7e97;
}

.navbar-mobile li:hover > a {
  color: #1f7e97;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
          box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul li:hover > a {
  color: #1f7e97;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover {
  color: #1f7e97;
}

.navbar-mobile .dropdown ul .active:hover {
  color: #1f7e97;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

#header.header-scrolled .navbar a {
  color: #585a61;
}

#header.header-scrolled .navbar .active {
  color: #1f7e97;
}

#header.header-scrolled .navbar .active:focus {
  color: #1f7e97;
}

#header.header-scrolled .navbar .getstarted {
  color: #FFF;
}

#header.header-scrolled .mobile-nav-toggle {
  color: #000;
}

#home {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 140px 0 100px 0;
  margin-bottom: 3rem;
  min-height: 100vh;
  background-image: url(../img/network.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#home img.logo {
  max-width: 270px;
  display: block;
  margin: 0 auto;
}

#home h1 {
  margin: 0 0 10px 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 35px;
  color: #FFF;
  font-family: "Poppins", sans-serif;
}

#home h2 {
  color: #FFF;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 20px;
}

#home .cta_btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
  padding: 8px 24px 10px 46px;
  border-radius: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #FFF;
  background: #1f7e97;
  position: relative;
}

#home .cta_btn:hover {
  background: #f7c100;
}

#home .cta_btn i {
  font-size: 20px;
  position: absolute;
  left: 18px;
  top: 8.5px;
}

#home .cta_btn + .cta_btn {
  margin-left: 20px;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #ededed;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #000;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.section-title p {
  margin-bottom: 0;
}

.breadcrumbs {
  padding: 15px 0;
  background-color: #f6f8fb;
  min-height: 40px;
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

.features .content {
  padding: 30px 0;
}

.features .content .icon-box {
  margin-top: 25px;
}

.features .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 12px 0 12px 60px;
}

.features .content .icon-box i {
  font-size: 48px;
  float: left;
  color: #1f7e97;
}

.features .content .icon-box p {
  font-size: 15px;
  color: #979aa1;
  margin-left: 60px;
}

.details .content h3 {
  font-weight: 700;
  font-size: 20px;
  color: #47536e;
}

.details .content ul {
  list-style: none;
  padding: 0;
}

.details .content ul li {
  padding-bottom: 10px;
}

.details .content ul i {
  font-size: 24px;
  padding-right: 2px;
  color: #000;
  line-height: 0;
}

.details .content p:last-child {
  margin-bottom: 0;
}

.gallery {
  overflow: hidden;
}

.gallery .swiper-slide {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gallery .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.gallery .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #FFF;
  opacity: 1;
  border: 1px solid #000;
}

.gallery .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #000;
}

.gallery .swiper-slide-active {
  text-align: center;
}

.testimonials .testimonials-carousel {
  overflow: hidden;
}

.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 10px 30px 50px;
  min-height: 175px;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #000;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left {
  color: #f5f5f5;
  font-size: 26px;
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  color: #f5f5f5;
  font-size: 26px;
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
  letter-spacing: 1px;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #FFF;
  opacity: 1;
  border: 1px solid #000;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #000;
}

.pricing .row {
  padding-top: 40px;
}

.pricing .box {
  padding: 40px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
          box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  text-align: center;
}

.pricing h3 {
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 28px;
}

.pricing h4 {
  font-size: 46px;
  color: #1f7e97;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
}

.pricing h4 span {
  color: #bababa;
  font-size: 18px;
  display: block;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #999;
  text-align: left;
  line-height: 20px;
}

.pricing ul li {
  padding-bottom: 12px;
}

.pricing ul i {
  color: #1f7e97;
  font-size: 18px;
  padding-right: 4px;
}

.pricing ul .na {
  color: #ccc;
}

.pricing ul .na i {
  color: #ccc;
}

.pricing ul .na span {
  text-decoration: line-through;
}

.pricing .get-started-btn {
  background: #47536e;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 20px;
  color: #FFF;
  -webkit-transition: none;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pricing .get-started-btn:hover {
  background: #1f7e97;
}

.pricing .featured {
  z-index: 10;
  margin: -30px -5px 0 -5px;
}

.pricing .featured .get-started-btn {
  background: #1f7e97;
}

.pricing .featured .get-started-btn:hover {
  background: #748ec6;
}

.faq .accordion-list {
  padding: 0 100px;
}

.faq .accordion-list ul {
  padding: 0;
  list-style: none;
}

.faq .accordion-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.faq .accordion-list li + li {
  margin-top: 15px;
}

.faq .accordion-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}

.faq .accordion-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #b1c0df;
}

.faq .accordion-list .icon-show {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.faq .accordion-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .accordion-list a.collapsed {
  color: #343a40;
}

.faq .accordion-list a.collapsed:hover {
  color: #1f7e97;
}

.faq .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .accordion-list a.collapsed .icon-close {
  display: none;
}

.contact .info {
  padding: 20px 40px;
  background: #f1f3f6;
  color: #47536e;
  text-align: center;
  border: 1px solid #fff;
}

.contact .info i {
  font-size: 48px;
  color: #9fb2d8;
  margin-bottom: 15px;
}

.contact .info h4 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.contact .info p {
  font-size: 15px;
}

.contact .php-email-form {
  width: 100%;
}

.contact .php-email-form .error-message {
  display: none;
  color: #FFF;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #FFF;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form label {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
  color: #8a8c95;
}

.contact .php-email-form input {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
  padding: 10px 15px;
}

.contact .php-email-form input:focus {
  border-color: #1f7e97;
}

.contact .php-email-form textarea {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
  padding: 12px 15px;
}

.contact .php-email-form textarea:focus {
  border-color: #1f7e97;
}

.contact .php-email-form button[type=submit] {
  background: #fff;
  border: 2px solid #1f7e97;
  padding: 10px 24px;
  color: #1f7e97;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
  margin-top: 5px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #1f7e97;
  color: #FFF;
}

#image-slider .splide__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#image-slider .splide__slide img {
  width: 100%;
  height: auto;
}

#image-slider .splide__pagination {
  bottom: -2em;
}

.swiper-wrapper.techno_wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer {
  background: #979aa1;
  padding: 0 0 30px 0;
  color: #47536e;
  font-size: 14px;
  background: #eff2f8;
}

#footer .container {
  max-width: 750px;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #585a61;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  color: #47536e;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #ccc;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #9fb2d8;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ccc;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #ccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #8a8c95;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #1f7e97;
  color: #FFF;
  line-height: 1;
  padding: 3.5px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 25px;
  height: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #27282c;
  color: #FFF;
  text-decoration: none;
}

#footer .copyright {
  text-align: center;
  float: left;
  color: #47536e;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #47536e;
}

.banner {
  min-height: 300px;
  background-image: url(../img/workers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo_footer {
  max-width: 150px;
}

h1#text {
  overflow: hidden;
  margin: 0 auto;
  display: inline-block;
  font-weight: normal;
}

h1#text::after {
  content: '';
  display: inline-block;
  background-color: white;
  margin-left: 2px;
  height: 4px;
  width: 15px;
  -webkit-animation: cursor 0.4s infinite;
          animation: cursor 0.4s infinite;
}

/* The typewriter cursor effect */
@-webkit-keyframes cursor {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cursor {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    -webkit-transition-delay: 0 !important;
            transition-delay: 0 !important;
  }
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
  #home {
    text-align: center;
  }
  #home .cta_btn + .cta_btn {
    margin: 0 10px;
  }
  #home .hero-img {
    text-align: center;
  }
  #home .hero-img img {
    width: 60%;
  }
  .features .image {
    text-align: center;
  }
  .features .image img {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  #home h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #home h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #home .hero-img img {
    width: 70%;
  }
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
  .contact .php-email-form {
    padding: 15px 0 0 0;
  }
  #footer .copyright {
    float: none;
    text-align: center;
    padding: 5px 0;
  }
  #footer .credits {
    float: none;
    text-align: center;
    padding: 5px 0;
  }
}

@media (max-width: 575px) {
  #home .hero-img img {
    width: 80%;
  }
}

@media (max-width: 667px) {
  .features .image img {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .gallery .swiper-wrapper {
    padding: 40px 0;
  }
  .gallery .swiper-slide-active {
    padding: 4px;
    z-index: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (max-width: 992px) {
  .pricing .box {
    max-width: 60%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 767px) {
  .pricing .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 420px) {
  .pricing .box {
    max-width: 100%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 1200px) {
  .faq .accordion-list {
    padding: 0;
  }
}

@media (max-width: 1024px) {
  .contact .php-email-form {
    padding: 30px 15px 15px 15px;
  }
}
/*# sourceMappingURL=style.css.map */